$primary-color: #4fbe9f;
$primary-color-2: #09816c;
$primary-color-3: #5ad3b1;

// line color
$gray-line-1: #eeeeee;
$gray-line-2: #dfdfdf;
$gray-line-3: #c2c2c2;
$gray-line-4: #afafaf;
$gray-line-5: #a1a1a1;

$background-color-light: #ffffff;

$global-header-heihgt: 64px;
